PSQLQUEUE_TESTING='true'
PSQLQUEUE_LOG_LEVEL='debug'
PSQLQUEUE_SERVER_HOST='0.0.0.0'
PSQLQUEUE_SERVER_PORT='8000'
PSQLQUEUE_SERVER_READ_HEADER_TIMEOUT_SECONDS='60'
PSQLQUEUE_DATABASE_URL='postgres://psqlqueue:psqlqueue@localhost:5432/psqlqueue?sslmode=disable'
PSQLQUEUE_TEST_DATABASE_URL='postgres://psqlqueue:psqlqueue@localhost:5432/psqlqueue-test?sslmode=disable'
PSQLQUEUE_DATABASE_MIN_CONNS='0'
PSQLQUEUE_DATABASE_MAX_CONNS='2'
PSQLQUEUE_QUEUE_MAX_NUMBER_OF_MESSAGES='10'
